@{
    ViewBag.Title = "Achievables & Types";
}

<div class="row c-box--medium">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="breadcrumb-item active" aria-current="page">Achievables & Types</li>
        </ol>
    </nav>
</div>

<div class="row c-box--medium">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#achievables">Achievables</a></li>
        <li><a data-toggle="tab" href="#types">Types</a></li>
    </ul>
</div>
<div class="tab-content">
    <div id="achievables" class="tab-pane fade in active">
        <div class="row">
            <h2>Achievables</h2>
        </div>
        <div class="row c-box--medium">
            <div class="col-md-4 u-no-gutter">
                <select class="js-achievables-filter" style="width: 100%">
                    <option></option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1 u-no-gutter">
                @Html.ActionLink("Create Achievable", "Create", "Achievables", new { @class = "btn btn-sm btn-primary" })
            </div>
        </div>
        <div class="row">
            <table class="js-achievables-table table table-striped table-hover table-responsive compact">
                <thead>
                    <tr>
                        <th>Achievable</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="types" class="tab-pane fade">
        <div class="row">
            <h2>Types</h2>
        </div>
        <div class="row c-box--medium">
            <div class="col-md-4 u-no-gutter">
                <select class="js-achievables-types-filter" style="width: 100%">
                    <option></option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1 u-no-gutter">
                @Html.ActionLink("Create Type", "Create", "Types", new { @class = "btn btn-sm btn-primary" })
            </div>
        </div>
        <div class="row">
            <table class="js-achievables-types-table table table-striped table-hover table-responsive compact" style="width: 100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            global.achievables.renderTable();
            global.achievables.search.init('.js-achievables-filter', '.js-achievables-table');
            global.types.search.init('.js-achievables-types-filter', '.js-achievables-types-table');
            global.types.renderTable();
        });

    </script>
}
