
@{
    ViewBag.Title = "Add Achievement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row c-box--medium">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">My Achievements</li>
            <li class="breadcrumb-item active" aria-current="page">Add Achievement</li>
        </ol>
    </nav>
</div>

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row c-box--medium">
    @Html.ActionLink("My Achievable is not defined", "Create", "Achievables", null, new { @class = "btn btn-sm btn-primary" })
</div>

<div class="row c-box--medium">
    <form>
        <div class="form-group row">
            <label for="achievementSelect" class="col-md-2 col-form-label">Achievement</label>
            <div class="col-md-3">
                <select class="add-achievement-select" style="width: 100%" name="state">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="commentSelect" class="col-md-2 col-form-label">Comment</label>
            <div class="col-md-3">
                <textarea class="form-control" id="commentSelect" rows="3" placeholder="enter some remarks here"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="lcontactSelect" class="col-md-2 col-form-label">Last Contact</label>
            <div class="col-md-3">
                <div class="input-group">
                    <input class="form-control" id="lcontactSelect" placeholder="2018.1" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="global.achievements.add.setLastContact()">Today</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="col-md-5">
        @Html.ActionLink("Add Achievement", "Index", "Achievement", new { @class = "btn btn-sm btn-primary pull-right" })
    </div>
</div>
@section scripts {
    <script> window.onload = global.achievements.add.init() </script>
}
