@{
    ViewBag.Title = "My Achievements";
}

<div class="row c-box--medium">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">My Achievements</li>
        </ol>
    </nav>
</div>

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row c-box--medium">
    <div class="col-md-8 u-no-gutter">
        <select class="js-search" name="state"></select>
    </div>
</div>

<div class="row c-box--medium">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-5 u-no-gutter">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">All Achievements</label>
                </div>
            </div>
            <div class="col-md-7 u-no-gutter">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Achievements towards my role</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row c-box--medium">
    @Html.ActionLink("Add Achievement", "Add", "Achievement", new { @class = "btn btn-primary" })
</div>

<table class="js-achievement-table">
    <thead>
        <tr>
            <th>Achievement</th>
            <th>Type</th>
            <th>Comment</th>
            <th>Last Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            const json = $.getJSON('/Content/json/dataAchievements.json', function (json) {
                console.log('table')
                $('.js-achievement-table').DataTable({
                    data: json,
                    columns: [
                        { data: 'achievement' },
                        { data: 'type' },
                        { data: 'comment' },
                        { data: 'lastContact' },
                        { data: 'actions' }
                    ]
                });
            });

            global.search.init('','.js-achievement-table');

        });

    </script>
}



