@{
    ViewBag.Title = "My Achievements";
}

<div class="row c-box--medium">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="breadcrumb-item active" aria-current="page">My Achievements</li>
        </ol>
    </nav>
</div>

<div class="row c-box--medium">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#achievements">My Achievements</a></li>
        <li><a data-toggle="tab" href="#role">Achievements towards Role</a></li>
    </ul>
</div>
<div class="tab-content">
    <div id="achievements" class="tab-pane fade in active">
        <div class="row">
            <h2>My Achievements</h2>
        </div>
        <div class="row c-box--medium">
            <div class="col-md-4 u-no-gutter">
                <select class="js-search" style="width: 100%">
                    <option></option>
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1 u-no-gutter">
                @Html.ActionLink("Add Achievement", "Add", "Achievement", new { @class = "btn btn-sm btn-primary" })
            </div>
        </div>
        <div class="row">
            <table class="js-achievement-table table table-striped table-hover table-responsive compact" style="width: 100%">
                <thead>
                    <tr>
                        <th>Achievement</th>
                        <th>Type</th>
                        <th>Comment</th>
                        <th>Last Contact</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="role" class="tab-pane fade c-achievements-role">
        <div class="row">
            <h2>Achievements Towards Role</h2>
        </div>
        <div class="form-group row c-box--medium">
            <label class="form-label">Select a role:</label>
            <select class="form-control input-sm">
                <option>Dev (next role)</option>
                <option>Senior Dev</option>
                <option>Designer</option>
                <option>Project manager</option>
                <option>Tester</option>
            </select>
        </div>
        <div class="row">
            <h4>Soft Skills</h4>
        </div>
        <div class="row">
            <table class="js-achievement-role-table table table-striped table-hover table-responsive compact" style="width: 100%">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Achievement</th>
                        <th>Type</th>
                        <th>Amount expected</th>
                        <th>Amount achieved</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <h4>Hard Skills</h4>
        </div>
        <div class="row">
            <table class="js-achievement-role-table table table-striped table-hover table-responsive compact" style="width: 100%">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Achievement</th>
                        <th>Type</th>
                        <th>Amount expected</th>
                        <th>Amount achieved</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <h4>Experience</h4>
        </div>
        <div class="row">
            <table class="js-achievement-role-table table table-striped table-hover table-responsive compact" style="width: 100%">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Achievement</th>
                        <th>Type</th>
                        <th>Amount expected</th>
                        <th>Amount achieved</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            global.achievements.renderATable();
            global.achievements.renderAtrTables();
            global.search.init('', '.js-achievement-table');
        });

    </script>
}
