
@{
    ViewBag.Title = "Create Type TODO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row c-box--medium">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Achievables</li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
</div>

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row c-box--medium">
    @Html.ActionLink("My Achievable is not defined", "Create", "Achievable", null, new { @class = "btn btn-sm btn-primary" })
</div>

