@{
    ViewBag.Title = "Welcome!";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="col-md-8">
        Diagrams
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">@Html.ActionLink("Add Achievement", "CoreData", "Home")</li>
            <li class="list-group-item">@Html.ActionLink("My Achievements", "CoreData", "Home")</li>
            <li class="list-group-item">@Html.ActionLink("My Team members", "CoreData", "Home")</li>
        </ul>
    </div>
</div>