@{
    ViewBag.Title = "Roles";
}

<div class="row c-box--medium">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="breadcrumb-item active" aria-current="page">Roles</li>
        </ol>
    </nav>
</div>

<h1>@ViewBag.Title</h1>

<h4 class="">Developer</h4>
<table class="js-roles-developer-table table table-striped table-hover table-responsive compact" style="width: 100%">
    <thead>
        <tr>
            <th>Role</th>
            <th>Assigned Achievables</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<h4 class="">Other</h4>
<table class="js-roles-other-table table table-striped table-hover table-responsive compact" style="width: 100%">
    <thead>
        <tr>
            <th>Role</th>
            <th>Assigned Achievables</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            global.roles.developer.renderTable('.js-roles-developer-table');
            global.roles.other.renderTable('.js-roles-other-table');
        });

    </script>
}
